:root {
  --bg-main: #0b1c2d;
  --bg-secondary: #102a43;
  --card-bg: #142f4c;

  --accent: #1fc8db;
  --accent-dark: #159db2;

  --text-main: #ffffff;
  --text-muted: #cbd5e1;

  --green: #22c55e;
  --yellow: #facc15;
  --red: #ef4444;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--bg-main), var(--bg-secondary));
  font-family: "Segoe UI", sans-serif;
  color: var(--text-main);
}
